@font-face {
  font-family: Bogam;
  src: url("../assets/fonts/Bogam.ttf");
}
@font-face {
  font-family: PP Neue Montreal;
  src: url("../assets/fonts/NeueMontreal-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: PP Neue Montreal;
  src: url("../assets/fonts/NeueMontreal-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: PP Neue Montreal;
  src: url("../assets/fonts/NeueMontreal-Regular.otf");
  font-weight: 100;
}

:root {
  --XDyellow: #e3ff6f;
  --XDgreen: #71ff95;
  --XDblue: #2d51ff;
  --XDpurple: #a07eff;
  --XDpink: #ff41fe;
  --XDorange: #ff6728;
  --XDblack: #0f0f0f;
  --XDmuted: #292828;
  --XDdarkGray: #787878;
  --XDgray: #dedad7;
  --XDwhite: #ffffff;
}

* {
  box-sizing: border-box;
  letter-spacing: normal;
}

body {
  background-color: var(--XDblack);
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 100;
}

#popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--XDblack);
  z-index: 3;
  overflow: hidden;
  display: none;
}

#popup.show {
  display: block;
}

#popup .button-close {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  background-color: var(--XDwhite);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: var(--XDblack);
  cursor: pointer;
}

#popup .button-close div {
  transform: rotate(45deg);
}

#popup .button-arrow {
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  background-color: var(--XDwhite);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: var(--XDblack);
}

#popup .button-arrow-left {
  right: calc(1.5rem + 38px);
  transform: rotate(180deg);
}

#popup .button-arrow img {
  max-width: 8px;
}

header {
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0px auto;
  padding: 2em 1.5em;
}
#logo {
  font-size: 2.5em;
}
nav {
  display: none;
}
#menu {
  display: block;
}

#logo {
  font-family: "Bogam", serif;
  font-weight: 100;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
  text-transform: uppercase;
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#contact {
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}
#cta-button {
  transition: all 0.3s ease-in-out;
}

#menu {
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-decoration: none;
  color: white;
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

/* Hero section */
#hero {
  margin: 0 1rem;
}

h1 {
  font-family: "Bogam", serif;
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--XDwhite);
}

/* Manifesto section  */
#manifesto {
  background-color: var(--XDblue);
  color: var(--XDwhite);
  font-size: 1rem;
  padding: 4rem 1rem;
  margin-top: 4rem;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.container p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

#manifesto .container a {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--XDwhite);
  text-decoration: none;
}

.link-icon {
  margin-left: 1rem;
}

.underline {
  position: relative;
  width: fit-content;
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--XDwhite);
}

/* Showcase section */
#showcase {
  margin: 3rem 1rem;
}

#showcase .project {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center center;
}

.project-square {
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
}

.project-vertical {
  padding-top: 141.4%;
  /* 16:9 Aspect Ratio (divide 16 by 9 = 1,777...) */
}

.project-1 {
  background-image: url(../assets/projects/small/poster-sweet16.webp);
}

.project-2 {
  background-image: url(../assets/projects/small/kwetter.webp);
}

.project-3 {
  background-image: url(../assets/projects/small/buurtparlement-magazine.webp);
}

.project-4 {
  background-image: url(../assets/projects/small/poster-wier.webp);
}

.project-5 {
  background-image: url(../assets/projects/small/poster-her.webp);
}

.project-6 {
  padding-top: 0;
  width: 100%;
  height: fit-content;
}

.project-7 {
  background-image: url(../assets/projects/small/troubadour.webp);
}

.project-8 {
  padding-top: 0;
  width: 100%;
  height: fit-content;
}

.project-9 {
  background-image: url(../assets/projects/small/buurtparlement-logo.webp);
}

.project-10 {
  background-image: url(../assets/projects/small/localleaves.webp);
}

.project-11 {
  padding-top: 0;
  width: 100%;
  height: fit-content;
}

.project-12 {
  padding-top: 0;
  width: 100%;
  height: fit-content;
}

#showcase .project-button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--XDwhite);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: var(--XDblack);
}

/* CTA section */
#cta {
  margin: 3rem 1rem;
  color: var(--XDwhite);
}

.button {
  color: var(--XDwhite);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 1px solid var(--XDwhite);
  border-radius: 5rem;
  width: fit-content;
}

footer {
  background-color: var(--XDgreen);
  padding: 3rem 1rem;
}

.footer-socials {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.footer-socials img:nth-child(-n + 3) {
  margin-right: 1.5rem;
}

.footer-links h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul p {
  margin: 0;
}

.footer-links ul a {
  color: var(--XDblack);
}

/* BREAKPOINT */
@media only screen and (min-width: 600px) {
  /* Hero section */
  #hero {
    margin: 0 2rem;
  }

  h1 {
    margin: 3rem 0;
  }

  /* Manifesto section  */
  #manifesto {
    padding: 4rem 2rem;
    margin-top: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
  }

  /* Showcase section */
  #showcase {
    margin: 3rem 2rem;
  }

  #showcase .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
  }

  #showcase .project {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1.5rem;
  }

  #showcase .project-2 {
    display: none;
  }

  #showcase .project-4 {
    display: none;
  }

  /* CTA section */
  #cta {
    margin: 3rem 2rem;
  }

  .button {
    margin-top: 0.5rem;
  }

  /* footer */
  footer {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-links .footer-container:first-child h3 {
    margin: 0 0 0.5rem 0;
  }

  .footer-full {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  header {
    padding: 2em 1.5em;
  }

  #logo {
    font-size: 2.5em;
  }
  nav {
    display: none;
  }
  #menu {
    display: block;
  }
}

/* BREAKPOINT 2*/
@media only screen and (min-width: 905px) {
  /* Hero section */
  #hero {
    margin: 0 1.5rem;
  }

  h1 {
    font-size: 6rem;
  }

  /* Manifesto section  */
  #manifesto {
    padding: 6rem 1.5rem;
  }

  /* Showcase section */
  #showcase {
    margin: 4rem 1.5rem;
  }

  #showcase .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
  }

  #showcase .project-2 {
    display: inline-block;
  }

  #showcase .project-4 {
    display: inline-block;
  }

  /* CTA section */
  #cta {
    margin: 4rem 1.5rem;
  }

  /* footer */
  footer {
    padding: 4rem 1.5rem;
  }

  .footer-links h3 {
    margin: 0 0 0.5rem 0;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
  }

  .footer-links .footer-container {
    margin-right: 2rem;
  }

  header {
    padding: 2em 1.5em;
  }

  #logo {
    font-size: 2em;
  }
  nav {
    display: block;
  }
  #menu {
    display: none;
  }
}

/* BREAKPOINT 3*/
@media only screen and (min-width: 1240px) {
  /* Hero section */
  #hero {
    margin: 0 4rem;
  }

  h1 {
    font-size: 9rem;
  }

  /* Manifesto section  */
  #manifesto {
    padding: 6rem 4rem;
  }

  #manifesto .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    position: relative;
  }

  .box {
    grid-area: 1 / 1 / 2 / 3;
  }

  .box p {
    margin-bottom: 0;
  }

  #manifesto .underline {
    grid-area: 1 / 3 / 2 / 4;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0;
  }

  /* Showcase section */
  #showcase {
    margin: 4rem 4rem;
  }

  /* CTA section */
  #cta {
    margin: 6rem 4rem;
  }

  #cta .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    position: relative;
  }

  #cta .button {
    height: fit-content;
    margin-top: 0;
  }

  /* footer */
  footer {
    padding: 6rem 4rem;
  }

  .footer-links .footer-container {
    margin-right: 6rem;
  }

  header {
    padding: 2em 4em;
  }

  #logo {
    font-size: 3.5em;
  }
}

/* BREAKPOINT 4*/
@media only screen and (min-width: 1440px) {
  /* Hero section */
  #hero {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* Manifesto section  */
  #manifesto .container,
  #manifesto .title {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* Showcase section */
  #showcase {
    max-width: 1440px;
    margin: 4rem auto;
  }

  /* CTA section */
  #cta {
    max-width: 1440px;
    margin: 4rem auto;
  }

  /* footer */
  .footer-full {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  header {
    padding: 2em 0em;
  }
}
